.logo{
    font-size: 2.5rem;
    margin-left:7%;
}
i{
    margin-right: 1%;
}
.navbar{
    text-align: right;
    font-size: 1.4rem;
    text-decoration: none;
}
.navbar a{
    padding-right:1rem ;
    padding-left: 1rem;
    color: blue;
    text-decoration: none;
}
.navbar a:hover{
    color: rgb(245, 141, 100);
    text-decoration: underline;
    fonts-size: 1.5rem
}
#login{
    color:blue;
    border: solid skyblue 3px;
    border-radius: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#login:hover{
    color:white;
    background-color: rgb(72, 151, 241);
}
.head{
    background-color: #D4F6FF;
    height: 6rem;
}

section{
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
h1{
    color: rgb(50, 179, 230);
    font-size: 3rem;
}
h2{
    color: rgb(50, 179, 230);
    font-size:1.5rem;
}
p{
    color: rgb(129, 120, 120);
    font-size: 1.1rem;
    margin-bottom: 70px;
}
img{
    margin-left: 80px;
}